{% extends 'layout.html' %}

{% block form %}
    <section class="flex flex-col align-center text-center">
        <form action="" method="POST">

            <div class="p-5">
                <h2 class="text-lg pb-3">I am a</h2>
                <div class="flex justify-center gap-x-4">
                    <label>Man</label>
                    <input type="radio" name="gender" value="male" class="h-6 w-6" required />
                    <input type="radio" name="gender" value="female" class="h-6 w-6" />
                    <label>Woman</label>
                </div>
            </div>

            <div class="p-5">
                <h2 class="text-lg pb-3">I am</h2>
                <input type="number" name="age" class="text-white text-center text-md p-2 w-40 bg-transparent outline-none border-x-0 border-b-2 border-slate-300 focus:border-white mb-2" />
                <h2 class="text-lg pb-3">years old</h2>
            </div>

            <!-- Section 1: Openness -->

            <h1 class="text-4xl">Openness</h1>

            <div class="p-5">
                <h2 class="text-lg pb-3">I enjoy trying new activities and experiences.</h2>
                <div class="flex justify-center gap-x-4">
                    <label>Agree</label>
                    <input type="radio" name="q1" value="5" class="h-6 w-6" required />
                    <input type="radio" name="q1" value="4" class="h-6 w-6" />
                    <input type="radio" name="q1" value="3" class="h-6 w-6" />
                    <input type="radio" name="q1" value="2" class="h-6 w-6" />
                    <input type="radio" name="q1" value="1" class="h-6 w-6" />
                    <label>Disagree</label>
                </div>
            </div>

            <div class="p-5">
                <h2 class="text-lg pb-3">I am imaginative and have a rich inner world.</h2>
                <div class="flex justify-center gap-x-4">
                    <label>Agree</label>
                    <input type="radio" name="q2" value="5" class="h-6 w-6" required />
                    <input type="radio" name="q2" value="4" class="h-6 w-6" />
                    <input type="radio" name="q2" value="3" class="h-6 w-6" />
                    <input type="radio" name="q2" value="2" class="h-6 w-6" />
                    <input type="radio" name="q2" value="1" class="h-6 w-6" />
                    <label>Disagree</label>
                </div>
            </div>

            <div class="p-5">
                <h2 class="text-lg pb-3">I appreciate art, music, and creative expressions.</h2>
                <div class="flex justify-center gap-x-4">
                    <label>Agree</label>
                    <input type="radio" name="q3" value="5" class="h-6 w-6" required />
                    <input type="radio" name="q3" value="4" class="h-6 w-6" />
                    <input type="radio" name="q3" value="3" class="h-6 w-6" />
                    <input type="radio" name="q3" value="2" class="h-6 w-6" />
                    <input type="radio" name="q3" value="1" class="h-6 w-6" />
                    <label>Disagree</label>
                </div>
            </div>

            <div class="p-5">
                <h2 class="text-lg pb-3">I often think about abstract concepts and philosophical ideas.</h2>
                <div class="flex justify-center gap-x-4">
                    <label>Agree</label>
                    <input type="radio" name="q4" value="5" class="h-6 w-6" required />
                    <input type="radio" name="q4" value="4" class="h-6 w-6" />
                    <input type="radio" name="q4" value="3" class="h-6 w-6" />
                    <input type="radio" name="q4" value="2" class="h-6 w-6" />
                    <input type="radio" name="q4" value="1" class="h-6 w-6" />
                    <label>Disagree</label>
                </div>
            </div>

            <!-- Section 2: Neuroticism -->

            <h1 class="text-4xl">Neuroticism</h1>
            
            <div class="p-5">
                <h2 class="text-lg pb-3">I am prone to feeling anxious and worried.</h2>
                <div class="flex justify-center gap-x-4">
                    <label>Agree</label>
                    <input type="radio" name="q5" value="5" class="h-6 w-6" required />
                    <input type="radio" name="q5" value="4" class="h-6 w-6" />
                    <input type="radio" name="q5" value="3" class="h-6 w-6" />
                    <input type="radio" name="q5" value="2" class="h-6 w-6" />
                    <input type="radio" name="q5" value="1" class="h-6 w-6" />
                    <label>Disagree</label>
                </div>
            </div>

            <div class="p-5">
                <h2 class="text-lg pb-3">I experience mood swings and emotional ups and downs.</h2>
                <div class="flex justify-center gap-x-4">
                    <label>Agree</label>
                    <input type="radio" name="q6" value="5" class="h-6 w-6" required />
                    <input type="radio" name="q6" value="4" class="h-6 w-6" />
                    <input type="radio" name="q6" value="3" class="h-6 w-6" />
                    <input type="radio" name="q6" value="2" class="h-6 w-6" />
                    <input type="radio" name="q6" value="1" class="h-6 w-6" />
                    <label>Disagree</label>
                </div>
            </div>

            <div class="p-5">
                <h2 class="text-lg pb-3">I am sensitive to stress and easily get overwhelmed.</h2>
                <div class="flex justify-center gap-x-4">
                    <label>Agree</label>
                    <input type="radio" name="q7" value="5" class="h-6 w-6" required />
                    <input type="radio" name="q7" value="4" class="h-6 w-6" />
                    <input type="radio" name="q7" value="3" class="h-6 w-6" />
                    <input type="radio" name="q7" value="2" class="h-6 w-6" />
                    <input type="radio" name="q7" value="1" class="h-6 w-6" />
                    <label>Disagree</label>
                </div>
            </div>

            <div class="p-5">
                <h2 class="text-lg pb-3">I tend to ruminate over past events and worries.</h2>
                <div class="flex justify-center gap-x-4">
                    <label>Agree</label>
                    <input type="radio" name="q8" value="5" class="h-6 w-6" required />
                    <input type="radio" name="q8" value="4" class="h-6 w-6" />
                    <input type="radio" name="q8" value="3" class="h-6 w-6" />
                    <input type="radio" name="q8" value="2" class="h-6 w-6" />
                    <input type="radio" name="q8" value="1" class="h-6 w-6" />
                    <label>Disagree</label>
                </div>
            </div>
    
            <!-- Section 3: Conscientiousness -->

            <h1 class="text-4xl">Conscientiousness</h1>
            
            <div class="p-5">
                <h2 class="text-lg pb-3">I am organized and keep things in order.</h2>
                <div class="flex justify-center gap-x-4">
                    <label>Agree</label>
                    <input type="radio" name="q9" value="5" class="h-6 w-6" required />
                    <input type="radio" name="q9" value="4" class="h-6 w-6" />
                    <input type="radio" name="q9" value="3" class="h-6 w-6" />
                    <input type="radio" name="q9" value="2" class="h-6 w-6" />
                    <input type="radio" name="q9" value="1" class="h-6 w-6" />
                    <label>Disagree</label>
                </div>
            </div>

            <div class="p-5">
                <h2 class="text-lg pb-3">I am diligent and complete tasks on time.</h2>
                <div class="flex justify-center gap-x-4">
                    <label>Agree</label>
                    <input type="radio" name="q10" value="5" class="h-6 w-6" required />
                    <input type="radio" name="q10" value="4" class="h-6 w-6" />
                    <input type="radio" name="q10" value="3" class="h-6 w-6" />
                    <input type="radio" name="q10" value="2" class="h-6 w-6" />
                    <input type="radio" name="q10" value="1" class="h-6 w-6" />
                    <label>Disagree</label>
                </div>
            </div>

            <div class="p-5">
                <h2 class="text-lg pb-3">I pay attention to details and strive for perfection.</h2>
                <div class="flex justify-center gap-x-4">
                    <label>Agree</label>
                    <input type="radio" name="q11" value="5" class="h-6 w-6" required />
                    <input type="radio" name="q11" value="4" class="h-6 w-6" />
                    <input type="radio" name="q11" value="3" class="h-6 w-6" />
                    <input type="radio" name="q11" value="2" class="h-6 w-6" />
                    <input type="radio" name="q11" value="1" class="h-6 w-6" />
                    <label>Disagree</label>
                </div>
            </div>

            <div class="p-5">
                <h2 class="text-lg pb-3">I make plans and follow through with them.</h2>
                <div class="flex justify-center gap-x-4">
                    <label>Agree</label>
                    <input type="radio" name="q12" value="5" class="h-6 w-6" required />
                    <input type="radio" name="q12" value="4" class="h-6 w-6" />
                    <input type="radio" name="q12" value="3" class="h-6 w-6" />
                    <input type="radio" name="q12" value="2" class="h-6 w-6" />
                    <input type="radio" name="q12" value="1" class="h-6 w-6" />
                    <label>Disagree</label>
                </div>
            </div>

            <!-- Section 4: Agreeableness -->

            <h1 class="text-4xl">Agreeableness</h1>
            
            <div class="p-5">
                <h2 class="text-lg pb-3">I am considerate of other people's feelings.</h2>
                <div class="flex justify-center gap-x-4">
                    <label>Agree</label>
                    <input type="radio" name="q13" value="5" class="h-6 w-6" required />
                    <input type="radio" name="q13" value="4" class="h-6 w-6" />
                    <input type="radio" name="q13" value="3" class="h-6 w-6" />
                    <input type="radio" name="q13" value="2" class="h-6 w-6" />
                    <input type="radio" name="q13" value="1" class="h-6 w-6" />
                    <label>Disagree</label>
                </div>
            </div>

            <div class="p-5">
                <h2 class="text-lg pb-3">I am empathetic and understanding towards others.</h2>
                <div class="flex justify-center gap-x-4">
                    <label>Agree</label>
                    <input type="radio" name="q14" value="5" class="h-6 w-6" required />
                    <input type="radio" name="q14" value="4" class="h-6 w-6" />
                    <input type="radio" name="q14" value="3" class="h-6 w-6" />
                    <input type="radio" name="q14" value="2" class="h-6 w-6" />
                    <input type="radio" name="q14" value="1" class="h-6 w-6" />
                    <label>Disagree</label>
                </div>
            </div>

            <div class="p-5">
                <h2 class="text-lg pb-3">I value cooperation and harmony in relationships.</h2>
                <div class="flex justify-center gap-x-4">
                    <label>Agree</label>
                    <input type="radio" name="q15" value="5" class="h-6 w-6" required />
                    <input type="radio" name="q15" value="4" class="h-6 w-6" />
                    <input type="radio" name="q15" value="3" class="h-6 w-6" />
                    <input type="radio" name="q15" value="2" class="h-6 w-6" />
                    <input type="radio" name="q15" value="1" class="h-6 w-6" />
                    <label>Disagree</label>
                </div>
            </div>

            <div class="p-5">
                <h2 class="text-lg pb-3">I am willing to compromise and avoid conflicts.</h2>
                <div class="flex justify-center gap-x-4">
                    <label>Agree</label>
                    <input type="radio" name="q16" value="5" class="h-6 w-6" required />
                    <input type="radio" name="q16" value="4" class="h-6 w-6" />
                    <input type="radio" name="q16" value="3" class="h-6 w-6" />
                    <input type="radio" name="q16" value="2" class="h-6 w-6" />
                    <input type="radio" name="q16" value="1" class="h-6 w-6" />
                    <label>Disagree</label>
                </div>
            </div>

            <!-- Section 5: Extraversion -->

            <h1 class="text-4xl">Extraversion</h1>
            
            <div class="p-5">
                <h2 class="text-lg pb-3">I enjoy socializing and being around people.</h2>
                <div class="flex justify-center gap-x-4">
                    <label>Agree</label>
                    <input type="radio" name="q17" value="5" class="h-6 w-6" required />
                    <input type="radio" name="q17" value="4" class="h-6 w-6" />
                    <input type="radio" name="q17" value="3" class="h-6 w-6" />
                    <input type="radio" name="q17" value="2" class="h-6 w-6" />
                    <input type="radio" name="q17" value="1" class="h-6 w-6" />
                    <label>Disagree</label>
                </div>
            </div>

            <div class="p-5">
                <h2 class="text-lg pb-3">I am outgoing and assertive in social situations.</h2>
                <div class="flex justify-center gap-x-4">
                    <label>Agree</label>
                    <input type="radio" name="q18" value="5" class="h-6 w-6" required />
                    <input type="radio" name="q18" value="4" class="h-6 w-6" />
                    <input type="radio" name="q18" value="3" class="h-6 w-6" />
                    <input type="radio" name="q18" value="2" class="h-6 w-6" />
                    <input type="radio" name="q18" value="1" class="h-6 w-6" />
                    <label>Disagree</label>
                </div>
            </div>

            <div class="p-5">
                <h2 class="text-lg pb-3">I feel energized by social interactions and gatherings.</h2>
                <div class="flex justify-center gap-x-4">
                    <label>Agree</label>
                    <input type="radio" name="q19" value="5" class="h-6 w-6" required />
                    <input type="radio" name="q19" value="4" class="h-6 w-6" />
                    <input type="radio" name="q19" value="3" class="h-6 w-6" />
                    <input type="radio" name="q19" value="2" class="h-6 w-6" />
                    <input type="radio" name="q19" value="1" class="h-6 w-6" />
                    <label>Disagree</label>
                </div>
            </div>

            <div class="p-5">
                <h2 class="text-lg pb-3">I am comfortable being the center of attention.</h2>
                <div class="flex justify-center gap-x-4">
                    <label>Agree</label>
                    <input type="radio" name="q20" value="5" class="h-6 w-6" required />
                    <input type="radio" name="q20" value="4" class="h-6 w-6" />
                    <input type="radio" name="q20" value="3" class="h-6 w-6" />
                    <input type="radio" name="q20" value="2" class="h-6 w-6" />
                    <input type="radio" name="q20" value="1" class="h-6 w-6" />
                    <label>Disagree</label>
                </div>
            </div>
    
            <br />
    
            <button type="submit" class="bg-violet-600 hover:bg-violet-400 text-white font-bold py-2 px-4 rounded">Submit</button>
        </form>
    </section>
{% endblock form %}