{% extends 'layout.html' %}

{% block form %}
    <section class="flex flex-col align-center text-center">
        <form action="" method="POST">

            <div class="p-5">
                <h2 class="text-lg pb-3">I am a</h2>
                <div class="flex justify-center gap-x-4">
                    <label>Man</label>
                    <input type="radio" name="gender" value="male" class="h-6 w-6" required />
                    <input type="radio" name="gender" value="female" class="h-6 w-6" />
                    <label>Woman</label>
                </div>
            </div>

            <div class="p-5">
                <h2 class="text-lg pb-3">I am</h2>
                <input type="number" name="age" class="text-white text-center text-md p-2 w-40 bg-transparent outline-none border-x-0 border-b-2 border-slate-300 focus:border-white mb-2" />
                <h2 class="text-lg pb-3">years old</h2>
            </div>

            <!-- Section 1: Openness -->

            <h1 class="text-4xl">Openness</h1>

            <div class="p-5">
                <h2 class="text-lg pb-3">Exploring new frontiers sounds exciting to me.</h2>
                <div class="flex justify-center gap-x-4">
                    <label>Agree</label>
                    <input type="radio" name="q1" value="5" class="h-6 w-6" required />
                    <input type="radio" name="q1" value="4" class="h-6 w-6" />
                    <input type="radio" name="q1" value="3" class="h-6 w-6" />
                    <input type="radio" name="q1" value="2" class="h-6 w-6" />
                    <input type="radio" name="q1" value="1" class="h-6 w-6" />
                    <label>Disagree</label>
                </div>
            </div>

            <div class="p-5">
                <h2 class="text-lg pb-3">I often ponder profound cosmic mysteries.</h2>
                <div class="flex justify-center gap-x-4">
                    <label>Agree</label>
                    <input type="radio" name="q2" value="5" class="h-6 w-6" required />
                    <input type="radio" name="q2" value="4" class="h-6 w-6" />
                    <input type="radio" name="q2" value="3" class="h-6 w-6" />
                    <input type="radio" name="q2" value="2" class="h-6 w-6" />
                    <input type="radio" name="q2" value="1" class="h-6 w-6" />
                    <label>Disagree</label>
                </div>
            </div>

            <div class="p-5">
                <h2 class="text-lg pb-3">Artistic expressions like space-themed art and music captivate me.</h2>
                <div class="flex justify-center gap-x-4">
                    <label>Agree</label>
                    <input type="radio" name="q3" value="5" class="h-6 w-6" required />
                    <input type="radio" name="q3" value="4" class="h-6 w-6" />
                    <input type="radio" name="q3" value="3" class="h-6 w-6" />
                    <input type="radio" name="q3" value="2" class="h-6 w-6" />
                    <input type="radio" name="q3" value="1" class="h-6 w-6" />
                    <label>Disagree</label>
                </div>
            </div>

            <div class="p-5">
                <h2 class="text-lg pb-3">Imagining alternate realities and space adventures is intriguing.</h2>
                <div class="flex justify-center gap-x-4">
                    <label>Agree</label>
                    <input type="radio" name="q4" value="5" class="h-6 w-6" required />
                    <input type="radio" name="q4" value="4" class="h-6 w-6" />
                    <input type="radio" name="q4" value="3" class="h-6 w-6" />
                    <input type="radio" name="q4" value="2" class="h-6 w-6" />
                    <input type="radio" name="q4" value="1" class="h-6 w-6" />
                    <label>Disagree</label>
                </div>
            </div>

            <!-- Section 2: Neuroticism -->

            <h1 class="text-4xl">Neuroticism</h1>
            
            <div class="p-5">
                <h2 class="text-lg pb-3">Sometimes the vastness of space triggers unnecessary worries.</h2>
                <div class="flex justify-center gap-x-4">
                    <label>Agree</label>
                    <input type="radio" name="q5" value="5" class="h-6 w-6" required />
                    <input type="radio" name="q5" value="4" class="h-6 w-6" />
                    <input type="radio" name="q5" value="3" class="h-6 w-6" />
                    <input type="radio" name="q5" value="2" class="h-6 w-6" />
                    <input type="radio" name="q5" value="1" class="h-6 w-6" />
                    <label>Disagree</label>
                </div>
            </div>

            <div class="p-5">
                <h2 class="text-lg pb-3">My mood can eclipse like distant celestial bodies, a mix of highs and lows.</h2>
                <div class="flex justify-center gap-x-4">
                    <label>Agree</label>
                    <input type="radio" name="q6" value="5" class="h-6 w-6" required />
                    <input type="radio" name="q6" value="4" class="h-6 w-6" />
                    <input type="radio" name="q6" value="3" class="h-6 w-6" />
                    <input type="radio" name="q6" value="2" class="h-6 w-6" />
                    <input type="radio" name="q6" value="1" class="h-6 w-6" />
                    <label>Disagree</label>
                </div>
            </div>

            <div class="p-5">
                <h2 class="text-lg pb-3">The vacuum of space can amplify stress; I feel it acutely.</h2>
                <div class="flex justify-center gap-x-4">
                    <label>Agree</label>
                    <input type="radio" name="q7" value="5" class="h-6 w-6" required />
                    <input type="radio" name="q7" value="4" class="h-6 w-6" />
                    <input type="radio" name="q7" value="3" class="h-6 w-6" />
                    <input type="radio" name="q7" value="2" class="h-6 w-6" />
                    <input type="radio" name="q7" value="1" class="h-6 w-6" />
                    <label>Disagree</label>
                </div>
            </div>

            <div class="p-5">
                <h2 class="text-lg pb-3">I often reflect on past celestial events and cosmic uncertainties.</h2>
                <div class="flex justify-center gap-x-4">
                    <label>Agree</label>
                    <input type="radio" name="q8" value="5" class="h-6 w-6" required />
                    <input type="radio" name="q8" value="4" class="h-6 w-6" />
                    <input type="radio" name="q8" value="3" class="h-6 w-6" />
                    <input type="radio" name="q8" value="2" class="h-6 w-6" />
                    <input type="radio" name="q8" value="1" class="h-6 w-6" />
                    <label>Disagree</label>
                </div>
            </div>
    
            <!-- Section 3: Conscientiousness -->

            <h1 class="text-4xl">Conscientiousness</h1>
            
            <div class="p-5">
                <h2 class="text-lg pb-3">I ensure my space capsule is tidy and organized.</h2>
                <div class="flex justify-center gap-x-4">
                    <label>Agree</label>
                    <input type="radio" name="q9" value="5" class="h-6 w-6" required />
                    <input type="radio" name="q9" value="4" class="h-6 w-6" />
                    <input type="radio" name="q9" value="3" class="h-6 w-6" />
                    <input type="radio" name="q9" value="2" class="h-6 w-6" />
                    <input type="radio" name="q9" value="1" class="h-6 w-6" />
                    <label>Disagree</label>
                </div>
            </div>

            <div class="p-5">
                <h2 class="text-lg pb-3">When on a space mission, I meet deadlines and overcome challenges.</h2>
                <div class="flex justify-center gap-x-4">
                    <label>Agree</label>
                    <input type="radio" name="q10" value="5" class="h-6 w-6" required />
                    <input type="radio" name="q10" value="4" class="h-6 w-6" />
                    <input type="radio" name="q10" value="3" class="h-6 w-6" />
                    <input type="radio" name="q10" value="2" class="h-6 w-6" />
                    <input type="radio" name="q10" value="1" class="h-6 w-6" />
                    <label>Disagree</label>
                </div>
            </div>

            <div class="p-5">
                <h2 class="text-lg pb-3">Paying attention to spacecraft details is vital for a successful voyage.</h2>
                <div class="flex justify-center gap-x-4">
                    <label>Agree</label>
                    <input type="radio" name="q11" value="5" class="h-6 w-6" required />
                    <input type="radio" name="q11" value="4" class="h-6 w-6" />
                    <input type="radio" name="q11" value="3" class="h-6 w-6" />
                    <input type="radio" name="q11" value="2" class="h-6 w-6" />
                    <input type="radio" name="q11" value="1" class="h-6 w-6" />
                    <label>Disagree</label>
                </div>
            </div>

            <div class="p-5">
                <h2 class="text-lg pb-3">Planning each interstellar journey helps me achieve my goals.</h2>
                <div class="flex justify-center gap-x-4">
                    <label>Agree</label>
                    <input type="radio" name="q12" value="5" class="h-6 w-6" required />
                    <input type="radio" name="q12" value="4" class="h-6 w-6" />
                    <input type="radio" name="q12" value="3" class="h-6 w-6" />
                    <input type="radio" name="q12" value="2" class="h-6 w-6" />
                    <input type="radio" name="q12" value="1" class="h-6 w-6" />
                    <label>Disagree</label>
                </div>
            </div>

            <!-- Section 4: Agreeableness -->

            <h1 class="text-4xl">Agreeableness</h1>
            
            <div class="p-5">
                <h2 class="text-lg pb-3">Compassion for alien life forms and their feelings is important to me.</h2>
                <div class="flex justify-center gap-x-4">
                    <label>Agree</label>
                    <input type="radio" name="q13" value="5" class="h-6 w-6" required />
                    <input type="radio" name="q13" value="4" class="h-6 w-6" />
                    <input type="radio" name="q13" value="3" class="h-6 w-6" />
                    <input type="radio" name="q13" value="2" class="h-6 w-6" />
                    <input type="radio" name="q13" value="1" class="h-6 w-6" />
                    <label>Disagree</label>
                </div>
            </div>

            <div class="p-5">
                <h2 class="text-lg pb-3">I'm curious about seeing the cosmos from other beings' perspectives.</h2>
                <div class="flex justify-center gap-x-4">
                    <label>Agree</label>
                    <input type="radio" name="q14" value="5" class="h-6 w-6" required />
                    <input type="radio" name="q14" value="4" class="h-6 w-6" />
                    <input type="radio" name="q14" value="3" class="h-6 w-6" />
                    <input type="radio" name="q14" value="2" class="h-6 w-6" />
                    <input type="radio" name="q14" value="1" class="h-6 w-6" />
                    <label>Disagree</label>
                </div>
            </div>

            <div class="p-5">
                <h2 class="text-lg pb-3">Collaborating with space crewmates to reach stellar goals is rewarding.</h2>
                <div class="flex justify-center gap-x-4">
                    <label>Agree</label>
                    <input type="radio" name="q15" value="5" class="h-6 w-6" required />
                    <input type="radio" name="q15" value="4" class="h-6 w-6" />
                    <input type="radio" name="q15" value="3" class="h-6 w-6" />
                    <input type="radio" name="q15" value="2" class="h-6 w-6" />
                    <input type="radio" name="q15" value="1" class="h-6 w-6" />
                    <label>Disagree</label>
                </div>
            </div>

            <div class="p-5">
                <h2 class="text-lg pb-3">Striking a balance in interstellar decisions for all is my approach.</h2>
                <div class="flex justify-center gap-x-4">
                    <label>Agree</label>
                    <input type="radio" name="q16" value="5" class="h-6 w-6" required />
                    <input type="radio" name="q16" value="4" class="h-6 w-6" />
                    <input type="radio" name="q16" value="3" class="h-6 w-6" />
                    <input type="radio" name="q16" value="2" class="h-6 w-6" />
                    <input type="radio" name="q16" value="1" class="h-6 w-6" />
                    <label>Disagree</label>
                </div>
            </div>

            <!-- Section 5: Extraversion -->

            <h1 class="text-4xl">Extraversion</h1>
            
            <div class="p-5">
                <h2 class="text-lg pb-3">I thrive on mingling with fellow space explorers and sharing stories.</h2>
                <div class="flex justify-center gap-x-4">
                    <label>Agree</label>
                    <input type="radio" name="q17" value="5" class="h-6 w-6" required />
                    <input type="radio" name="q17" value="4" class="h-6 w-6" />
                    <input type="radio" name="q17" value="3" class="h-6 w-6" />
                    <input type="radio" name="q17" value="2" class="h-6 w-6" />
                    <input type="radio" name="q17" value="1" class="h-6 w-6" />
                    <label>Disagree</label>
                </div>
            </div>

            <div class="p-5">
                <h2 class="text-lg pb-3">Initiating conversations and making new space friends feels natural.</h2>
                <div class="flex justify-center gap-x-4">
                    <label>Agree</label>
                    <input type="radio" name="q18" value="5" class="h-6 w-6" required />
                    <input type="radio" name="q18" value="4" class="h-6 w-6" />
                    <input type="radio" name="q18" value="3" class="h-6 w-6" />
                    <input type="radio" name="q18" value="2" class="h-6 w-6" />
                    <input type="radio" name="q18" value="1" class="h-6 w-6" />
                    <label>Disagree</label>
                </div>
            </div>

            <div class="p-5">
                <h2 class="text-lg pb-3">The energy of a group of fellow astronauts brings me joy.</h2>
                <div class="flex justify-center gap-x-4">
                    <label>Agree</label>
                    <input type="radio" name="q19" value="5" class="h-6 w-6" required />
                    <input type="radio" name="q19" value="4" class="h-6 w-6" />
                    <input type="radio" name="q19" value="3" class="h-6 w-6" />
                    <input type="radio" name="q19" value="2" class="h-6 w-6" />
                    <input type="radio" name="q19" value="1" class="h-6 w-6" />
                    <label>Disagree</label>
                </div>
            </div>

            <div class="p-5">
                <h2 class="text-lg pb-3">Taking the helm in space activities doesn't faze me.</h2>
                <div class="flex justify-center gap-x-4">
                    <label>Agree</label>
                    <input type="radio" name="q20" value="5" class="h-6 w-6" required />
                    <input type="radio" name="q20" value="4" class="h-6 w-6" />
                    <input type="radio" name="q20" value="3" class="h-6 w-6" />
                    <input type="radio" name="q20" value="2" class="h-6 w-6" />
                    <input type="radio" name="q20" value="1" class="h-6 w-6" />
                    <label>Disagree</label>
                </div>
            </div>
    
            <br />
    
            <button type="submit" class="bg-blue-600 hover:bg-blue-400 text-white font-bold py-2 px-4 rounded">Submit</button>
        </form>
    </section>
{% endblock form %}