{% extends 'layout.html' %}

{% block hero %}
    <section class='flex flex-col align-center text-center'>
        <div>
            <h1 class='text-6xl p-10'>
                Discover<br />Your Inner<br /><span class="font-orbitron text-8xl">Spacefarer</span>
            </h1>
            <p class='p-5'>
                Explore your personality with Spacefarer, using machine learning to discover what type of an astronaut you would be.
            </p>
            <a class="bg-blue-600 hover:bg-blue-400 text-white font-bold py-3 px-4 rounded" href="/personality-test">
                Take the Test
            </a>
        </div>
    </section>
{% endblock hero %}