{% extends 'layout.html' %}

{% block script %}
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            const radioButtons = document.querySelectorAll("input[type=radio]");
            radioButtons.forEach(function(radioButton) {
                radioButton.addEventListener("click", function() {
                    this.closest("form").submit();
                });
            });
        });
    </script>
{% endblock script %}

{% block form %}
    <section class="flex flex-col align-center text-center">
            <h1>{{ question }}</h1>
            <input type="radio" name="answer" value="1"> Option 1<br>
            <input type="radio" name="answer" value="2"> Option 2<br>
            <input type="radio" name="answer" value="3"> Option 3<br>
            <input type="radio" name="answer" value="4"> Option 4<br>
            <input type="radio" name="answer" value="5"> Option 5<br>
            <input type="hidden" name="question_index" value="{{ question_index }}">
    </section>
{% endblock form %}