{% extends 'layout.html' %}

{% block form %}
    <section class="flex flex-col align-center text-center">
        <form action="">

            <!-- Section 1: Openness -->

            <h1 class="text-4xl">Openness</h1>

            <div class="p-5">
                <h2>I enjoy trying new activities and experiences.</h2>
                <div class="grid justify-center gap-x-10">
                    <label>Agree</label>
                    <input type="radio" name="q1" value="5" />
                    <input type="radio" name="q1" value="4" />
                    <input type="radio" name="q1" value="3" />
                    <input type="radio" name="q1" value="2" />
                    <input type="radio" name="q1" value="1" />
                    <label>Disagree</label>
                </div>
            </div>

            <div class="p-5">
                <h2>I am imaginative and have a rich inner world.</h2>
                <div class="grid justify-center gap-x-10">
                    <label>Agree</label>
                    <input type="radio" name="q1" value="5" />
                    <input type="radio" name="q1" value="4" />
                    <input type="radio" name="q1" value="3" />
                    <input type="radio" name="q1" value="2" />
                    <input type="radio" name="q1" value="1" />
                    <label>Disagree</label>
                </div>
            </div>

            <div class="p-5">
                <h2>I appreciate art, music, and creative expressions.</h2>
                <div class="grid justify-center gap-x-10">
                    <label>Agree</label>
                    <input type="radio" name="q1" value="5" />
                    <input type="radio" name="q1" value="4" />
                    <input type="radio" name="q1" value="3" />
                    <input type="radio" name="q1" value="2" />
                    <input type="radio" name="q1" value="1" />
                    <label>Disagree</label>
                </div>
            </div>

            <div class="p-5">
                <h2>I often think about abstract concepts and philosophical ideas.</h2>
                <div class="grid justify-center gap-x-10">
                    <label>Agree</label>
                    <input type="radio" name="q1" value="5" />
                    <input type="radio" name="q1" value="4" />
                    <input type="radio" name="q1" value="3" />
                    <input type="radio" name="q1" value="2" />
                    <input type="radio" name="q1" value="1" />
                    <label>Disagree</label>
                </div>
            </div>
    
            <!-- Section 2: Conscientiousness -->

            <h1 class="text-4xl">Conscientiousness</h1>
            
            <div class="p-5">
                <h2>I am organized and keep things in order.</h2>
                <div class="grid justify-center gap-x-10">
                    <label>Agree</label>
                    <input type="radio" name="q1" value="5" />
                    <input type="radio" name="q1" value="4" />
                    <input type="radio" name="q1" value="3" />
                    <input type="radio" name="q1" value="2" />
                    <input type="radio" name="q1" value="1" />
                    <label>Disagree</label>
                </div>
            </div>

            <div class="p-5">
                <h2>I am diligent and complete tasks on time.</h2>
                <div class="grid justify-center gap-x-10">
                    <label>Agree</label>
                    <input type="radio" name="q1" value="5" />
                    <input type="radio" name="q1" value="4" />
                    <input type="radio" name="q1" value="3" />
                    <input type="radio" name="q1" value="2" />
                    <input type="radio" name="q1" value="1" />
                    <label>Disagree</label>
                </div>
            </div>

            <div class="p-5">
                <h2>I pay attention to details and strive for perfection.</h2>
                <div class="grid justify-center gap-x-10">
                    <label>Agree</label>
                    <input type="radio" name="q1" value="5" />
                    <input type="radio" name="q1" value="4" />
                    <input type="radio" name="q1" value="3" />
                    <input type="radio" name="q1" value="2" />
                    <input type="radio" name="q1" value="1" />
                    <label>Disagree</label>
                </div>
            </div>

            <div class="p-5">
                <h2>I make plans and follow through with them.</h2>
                <div class="grid justify-center gap-x-10">
                    <label>Agree</label>
                    <input type="radio" name="q1" value="5" />
                    <input type="radio" name="q1" value="4" />
                    <input type="radio" name="q1" value="3" />
                    <input type="radio" name="q1" value="2" />
                    <input type="radio" name="q1" value="1" />
                    <label>Disagree</label>
                </div>
            </div>

            <!-- Section 3: Extraversion -->

            <h1 class="text-4xl">Extraversion</h1>
            
            <div class="p-5">
                <h2>I enjoy socializing and being around people.</h2>
                <div class="grid justify-center gap-x-10">
                    <label>Agree</label>
                    <input type="radio" name="q1" value="5" />
                    <input type="radio" name="q1" value="4" />
                    <input type="radio" name="q1" value="3" />
                    <input type="radio" name="q1" value="2" />
                    <input type="radio" name="q1" value="1" />
                    <label>Disagree</label>
                </div>
            </div>

            <div class="p-5">
                <h2>I am outgoing and assertive in social situations.</h2>
                <div class="grid justify-center gap-x-10">
                    <label>Agree</label>
                    <input type="radio" name="q1" value="5" />
                    <input type="radio" name="q1" value="4" />
                    <input type="radio" name="q1" value="3" />
                    <input type="radio" name="q1" value="2" />
                    <input type="radio" name="q1" value="1" />
                    <label>Disagree</label>
                </div>
            </div>

            <div class="p-5">
                <h2>I feel energized by social interactions and gatherings.</h2>
                <div class="grid justify-center gap-x-10">
                    <label>Agree</label>
                    <input type="radio" name="q1" value="5" />
                    <input type="radio" name="q1" value="4" />
                    <input type="radio" name="q1" value="3" />
                    <input type="radio" name="q1" value="2" />
                    <input type="radio" name="q1" value="1" />
                    <label>Disagree</label>
                </div>
            </div>

            <div class="p-5">
                <h2>I am comfortable being the center of attention.</h2>
                <div class="grid justify-center gap-x-10">
                    <label>Agree</label>
                    <input type="radio" name="q1" value="5" />
                    <input type="radio" name="q1" value="4" />
                    <input type="radio" name="q1" value="3" />
                    <input type="radio" name="q1" value="2" />
                    <input type="radio" name="q1" value="1" />
                    <label>Disagree</label>
                </div>
            </div>

            <!-- Section 4: Agreeableness -->

            <h1 class="text-4xl">Agreeableness</h1>
            
            <div class="p-5">
                <h2>I am considerate of other people's feelings.</h2>
                <div class="grid justify-center gap-x-10">
                    <label>Agree</label>
                    <input type="radio" name="q1" value="5" />
                    <input type="radio" name="q1" value="4" />
                    <input type="radio" name="q1" value="3" />
                    <input type="radio" name="q1" value="2" />
                    <input type="radio" name="q1" value="1" />
                    <label>Disagree</label>
                </div>
            </div>

            <div class="p-5">
                <h2>I am empathetic and understanding towards others.</h2>
                <div class="grid justify-center gap-x-10">
                    <label>Agree</label>
                    <input type="radio" name="q1" value="5" />
                    <input type="radio" name="q1" value="4" />
                    <input type="radio" name="q1" value="3" />
                    <input type="radio" name="q1" value="2" />
                    <input type="radio" name="q1" value="1" />
                    <label>Disagree</label>
                </div>
            </div>

            <div class="p-5">
                <h2>I value cooperation and harmony in relationships.</h2>
                <div class="grid justify-center gap-x-10">
                    <label>Agree</label>
                    <input type="radio" name="q1" value="5" />
                    <input type="radio" name="q1" value="4" />
                    <input type="radio" name="q1" value="3" />
                    <input type="radio" name="q1" value="2" />
                    <input type="radio" name="q1" value="1" />
                    <label>Disagree</label>
                </div>
            </div>

            <div class="p-5">
                <h2>I am willing to compromise and avoid conflicts.</h2>
                <div class="grid justify-center gap-x-10">
                    <label>Agree</label>
                    <input type="radio" name="q1" value="5" />
                    <input type="radio" name="q1" value="4" />
                    <input type="radio" name="q1" value="3" />
                    <input type="radio" name="q1" value="2" />
                    <input type="radio" name="q1" value="1" />
                    <label>Disagree</label>
                </div>
            </div>
    
            <!-- Section 5: Neuroticism -->

            <h1 class="text-4xl">Neuroticism</h1>
            
            <div class="p-5">
                <h2>I am prone to feeling anxious and worried.</h2>
                <div class="grid justify-center gap-x-10">
                    <label>Agree</label>
                    <input type="radio" name="q1" value="5" />
                    <input type="radio" name="q1" value="4" />
                    <input type="radio" name="q1" value="3" />
                    <input type="radio" name="q1" value="2" />
                    <input type="radio" name="q1" value="1" />
                    <label>Disagree</label>
                </div>
            </div>

            <div class="p-5">
                <h2>I experience mood swings and emotional ups and downs.</h2>
                <div class="grid justify-center gap-x-10">
                    <label>Agree</label>
                    <input type="radio" name="q1" value="5" />
                    <input type="radio" name="q1" value="4" />
                    <input type="radio" name="q1" value="3" />
                    <input type="radio" name="q1" value="2" />
                    <input type="radio" name="q1" value="1" />
                    <label>Disagree</label>
                </div>
            </div>

            <div class="p-5">
                <h2>I am sensitive to stress and easily get overwhelmed.</h2>
                <div class="grid justify-center gap-x-10">
                    <label>Agree</label>
                    <input type="radio" name="q1" value="5" />
                    <input type="radio" name="q1" value="4" />
                    <input type="radio" name="q1" value="3" />
                    <input type="radio" name="q1" value="2" />
                    <input type="radio" name="q1" value="1" />
                    <label>Disagree</label>
                </div>
            </div>

            <div class="p-5">
                <h2>I tend to ruminate over past events and worries.</h2>
                <div class="grid justify-center gap-x-10">
                    <label>Agree</label>
                    <input type="radio" name="q1" value="5" />
                    <input type="radio" name="q1" value="4" />
                    <input type="radio" name="q1" value="3" />
                    <input type="radio" name="q1" value="2" />
                    <input type="radio" name="q1" value="1" />
                    <label>Disagree</label>
                </div>
            </div>
    
            <br />
    
            <button type="submit">Submit</button>
        </form>
    </section>
{% endblock form %}