{% extends 'layout.html' %}

{% block script %}
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            const radioButtons = document.querySelectorAll("input[type=radio]");
            radioButtons.forEach(function(radioButton) {
                radioButton.addEventListener("change", function() {
                    this.closest("form").submit();
                });
            });
        });
    </script>
{% endblock script %}

{% block form %}
    <form action="" method="POST">
        <section class="flex flex-col align-center text-center">
            <div class="flex flex-col">
                <h1>{{ question }}</h1>
                <div class="flex justify-center space-x-4">
                    <label for="5" class="px-2">Agree</label>
                    <input type="radio" name="answer" value="5" class="mx-2">
                    <input type="radio" name="answer" value="4" class="px-2">
                    <input type="radio" name="answer" value="3" class="px-2">
                    <input type="radio" name="answer" value="2" class="px-2">
                    <input type="radio" name="answer" value="1" class="px-2">
                    <label for="1">Disagree</label>
                    <input type="hidden" name="question_index" value="{{ question_index }}">
                </div>
            </div>
        </section>
    </form>
{% endblock form %}