{% extends 'layout.html' %}

{% block hero %}
    <section class='flex flex-col align-center text-center'>
        <div>
        <h1 class='text-6xl p-10'>
            Discover the<br />Cosmic Secrets<br />of Your Soul
        </h1>
        <p class='p-5'>
            Psyche Explorer combines the worlds of astrology and computer science, using machine learning to help you discover the hidden depths of your personality.
        </p>
        <button class="bg-violet-600 hover:bg-violet-400 text-white font-bold py-2 px-4 rounded">
            <a href="/form-test">
            Take the Test
            </a>
        </button>
        </div>
    </section>
{% endblock hero %}